/***
Milestone3.css
Author: Mohd Basyir bin Zainuddin S55688
	Iskandar Zulkarnain bin Muhd Zubir S55596
***/

body 
{
	background-image: url("images/mainBG4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#header 
{
	margin: auto;
	width: 60%;
	padding: 2%;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 10px black;
	background-color:  #4c00c8;
	color: white;
	font-family: Eras ITC;
}

#body a, #body a:visited
{
	text-decoration: none;
	decoration: none;
}

.drop_menu {
	background-color:#ff7800;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
	width:97%;
	border-radius: 10px;
}

.drop_menu li { float: left; }
.drop li a {
	padding:7px 8px;
	display:block;
	color:white;
	text-decoration:none;
	font:15px Eras ITC, sans-serif;
	font-weight: bold;
}

/*Submenu */

.drop_menu ul {
	position:absolute;
	left:-99px;
	top:-99px;
	list-style-type:none;
}

.drop_menu li:hover {
	position:relative;
	background: #045895;
}

.drop_menu li:hover ul {
	left:0px;
	top:30px;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:140px;
	text-indent:15px;
	background-color: #023a63;
}

.drop_menu li:hover ul li a:hover {
	background: red;
}

.drop_menu p {
	text-decoration:none;
	font:12px arial, verdana, sans-serif;
}

#body 
{
	margin: auto;
	width: 60%;
	padding: 2%;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 10px black;
	background-color:  #4c00c8;
	color: white;
	font-family: Eras ITC;
}

#imgWindow
{
	display: flex;
	margin: auto;
	width: 70%;
	height: 250px;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 3px 5px black;
	background-image: url("images/32.gif");
	background-size: cover;
	color: white;
	font-family: Eras ITC;
	justify-content: center;
}

#newButton
{
	display: block;
	margin: auto;
	width: 20%;
	height: 60px;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 3px 5px black;
	background-color: #FFC300;
	color: black;
	font-family: Eras ITC;
	text-align: center;
}



#newButton:hover
{
	border: 3px solid #03ffe4;
	box-shadow: 3px 5px #03ffe4;
	cursor: pointer;

}


#footer 
{
	margin: auto;
	width: 60%;
	padding: 2%;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 10px black;
	background-color: #4c00c8;
	color: white;
	font-family: Eras ITC;
	text-align: left;
}


